
@{
    Layout = null;
    
}
@Model Main.ViewModels.TP_ListViewModel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TP_List</title>
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.11.4/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.11.4/jqgrid/css/ui.jqgrid.css" />
    <script src="~/Scripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4/jqgrid/src/i18n/grid.locale-cn.js"></script>
</head>
<body>
    <div> 
        <table id="TP_List"></table>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#TP_List").jqGrid({
            url: "TP_List/Index",
            datatype: "json",
            colModel: [
               { label: 'TP NO', name: 'TP_NO', width: 75 },
               { label: 'TP Name', name: 'TP_Name', width: 90 },
               { label: '类型', name: 'TP_Type', width: 100 },
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            width: 780,
            height: 200,
            rowNum: 30,
            loadonce: true, // this is just for the demo
            pager: "#jqGridPager"
        });
    });
</script>
