
@{
    Layout = null;
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TP_List</title>
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.11.4/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.11.4/jqgrid/css/ui.jqgrid.css" />
    <script src="~/Scripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4/jqgrid/src/i18n/grid.locale-cn.js"></script>
</head>
<body>
    <div> 
        <table id="TP_List"></table>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#TP_List").jqGrid({
            url: "/tp_list/getalltp",
            datatype: "json",
            colModel: [
               { label: 'TP NO', name: 'TP_NO',width:70},
               { label: 'TP Name', name: 'TP_Name', width:250 },
               { label: '类型', name: 'TP_Type', width:50},
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar         
            rowNum: 30,
            loadonce: true, // this is just for the demo
            pager: "#jqGridPager",
            autowidth: true,
            shrinkToFit:false
            //jsonReader: {    //jsonReader来跟服务器端返回的数据做对应  
            //root: "dataRows",  //包含实际数据的数组  
            //page: "currPage",  //当前页  
            //total: "totalPage",//总页数  
            //records:"totalCount", //查询出的记录数  
            //repeatitems : false      
        //}  

        });
        $("#TP_List").setGridHeight($(window).height() - $(".ui-layout-north").height() - 90);
        $(window).resize(function () {
            $(window).unbind("onresize");         
            $("#TP_List").setGridWidth($(window).width() - $(".ui-layout-west").width() - 60);
            $("#TP_List").setGridHeight($(window).height() - $(".ui-layout-north").height() - 90);
            $(window).bind("onresize", this);
        });


    });
</script>
