
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../Scripts/Style/Login.css" />
    <link rel="stylesheet" href="../../Scripts/Style/Register.css" />

</head>
<body>
    <form method="post">
     <div class="page">
      <div id="header">
      </div>
	  <h3>注册账号</h3>
	  
	  <div class="line"></div>
	  <div id="main">
	      <ul>
		    <li><label>用户名</label><input type="text"  name="username" /><label id="username-notice">用户名已存在</label> </li>
			<li><label>密码</label><input type="password"  name="password" /> </li>
			<li><label>确认密码</label><input type="password"  name="confirm-password" /><label id="password-check">两次输入的密码不一致</label> </li>
			<li><label>邮箱</label><input type="text"  name="email" />
		  </ul>	
		  <input id="submit" type="button" value="注册账号" onclick="notice()"/>	  
	  </div>
	  </div>
     </form>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#username-notice").css("display","none");
        $("#password-check").css("display", "none");
        $("#email-notice").css("display", "none");
    });

    $("input[name='confirm-password']").focusout(
        function () {
            try{
            
                if ($("input[name='password']").val() != $("input[name='confirm-password']").val()) {
                    $("input[ name='confirm-password']")[0].focus();
                    $("#password-check").css("display", "block");
                }
                else
                {
                    $("#password-check").css("display", "none");
                }
            }
            catch(e)
            {
                alert(e);
            }
        }
        );


    $("input[name='username']").focusout(
        function () {
            try{
            
            if ($("input[name='username']").val() == "")
            {
                $("#username-notice").css("display", "none");
                return;
            }

            $.ajax({
                url: "/register/UserCheck",
                data: { "username": $("input[name='username']").val() },
                dataType: "text",
                success: function (data) {
                    if (data == "1") {
                        $("#username-notice").html("该用户名已被使用");
                        $("input[name='username']")[0].focus();
                        $("#username-notice").css("display", "block");
                    }
                    else
                    {
                        $("#username-notice").html("用户名可以使用");
                        $("#username-notice").css("display", "block");
                    }
                }
            }
            );
            }
            catch (e)
            {
                alert(e);
            }
        }
        );
    function notice() {
        try {

            if ($("input[name='username']").val() == "")
            {
                alert("请输入用户名!");
                return;
            }

            if ($("input[name='password']").val() == "") {
                alert("请输入密码!");
                return;
            }

            if ($("input[name='password']").val() != $("input[name='confirm-passworkd']").val()) {
                alert("两次输入的密码不一致!");
                return;
            }

            var condition = {
                username: $("input[name='username']").val(),
                password: $("input[name='password']").val(),
                email: $("input[name='email']").val()
            };
            $.ajax({
                type: 'POST',
                url: "/register/adduser",
                data: condition,
                dataType: "text",
                success: function () {
                    alert("注册成功!");
                    window.location.href = "../login/index";
                }
            });
        }
        catch (e)
        {
            alert(e);
        }
    };
    
</script>